<?xml version="1.0" ?>
<config	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <internshipTeam>
            <twitter>
                <enalbed>1</enalbed>
                <client_id>l1qj3RdtssOCVFJrtXCElTOdb</client_id>
                <client_secret>4BLQkeSKGimeqYX5kPWhKvKFbWiOA3kKSpypRtKMY8CDnD33cK</client_secret>
            </twitter>
            <share>
                <enabled>1</enabled>
            </share>

        </internshipTeam>
    </default>
</config>